$colors: ("primary": $primary-color, "secondary": $secondary-color, "muted": $muted-color,"primario2": $primary-color,);

@each $name, $color in $colors {
  .button--#{$name} {
    @include button-base;
    background-color: $color;
    border: 1px solid $color;
    &:hover {
        background-color: darken($color, 5%);
    }
  }
  .text--#{$name} {
    @include text-base;
    color: $color;
  }
  .alert--#{$name} {
    @include alert-base;
    background-color: opacify(rgba($color, 0.3), 0.3);
  }
  .badge--#{$name} {
    @include badge-base;
    background-color: $color;
  }
}